<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- <script src="https://cdn-go.cn/aegis/aegis-sdk/latest/aegis.min.js"></script>
    <script>
      const aegis = new Aegis({
        id: '0GQdOhz6qZyXr9698g', // 上报 id
        uin: 'xxx', // 用户唯一 ID（可选）
        reportApiSpeed: true, // 接口测速
        reportAssetSpeed: true, // 静态资源测速
        spa: true, // spa 应用页面跳转的时候开启 pv 计算
        hostUrl: 'https://rumt-zh.com',
      });
    </script> -->
    <script src="https://image.xjq.icu/runcode/prettier/2.7.1/parser-babel.js" defer></script>
    <div id="root">
      <h1>Nihao</h1>
    </div>
    <script src="/monitor.js"></script>
    <script>
      const { default: Monitor, Browser } = window.monitor;
      const monitor = new Monitor();
      monitor.init({
        appId: '2',
        dsn: 'http://127.0.0.1:3001',
        plugins: [new Browser()],
      });
    </script>
    <script>
      setInterval(() => {
        Promise.reject(new Error(22));
      }, 10000);
      setTimeout(() => {
        Promise.reject(111);
      }, 1000);
      // setInterval(() => {
      //   window.fetch('http://127.0.0.1:3000/api', {
      //     method: 'GET',
      //   });
      //   const XHR = new XMLHttpRequest();
      //   XHR.open('GET', 'http://127.0.0.1:3000/ap');
      //   XHR.addEventListener('loadend', () => {});

      //   XHR.send();
      // }, [5000]);

      setInterval(() => {
        console.log(aa);
      }, 5000);
      setInterval(() => {
        new ReferenceError(22);
      }, 5000);
    </script>
    <script src="https://image.xjq.icu/runcode/prettier/2.7.1/standalone.js"></script>
  </body>
</html>
